<div class = "container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.ridwansameer.xyz">Ridwan Sameer</a>, Designed as a personal project.
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>